<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>art</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.art.registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.art.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.art.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posting</display-name>
    <servlet-name>Posting</servlet-name>
    <servlet-class>com.art.registration.Posting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posting</servlet-name>
    <url-pattern>/Posting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.art.registration.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Like</display-name>
    <servlet-name>Like</servlet-name>
    <servlet-class>com.art.registration.Like</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Like</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>controller.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPostServlet</display-name>
    <servlet-name>AllPostServlet</servlet-name>
    <servlet-class>controller.AllPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPostServlet</servlet-name>
    <url-pattern>/AllPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypePostServlet</display-name>
    <servlet-name>TypePostServlet</servlet-name>
    <servlet-class>controller.TypePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypePostServlet</servlet-name>
    <url-pattern>/TypePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>controller.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>controller.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>controller.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>